# Python
__pycache__/
*.py[cod]
*.pyc
*.egg-info/
.Python
env/
venv/
.venv/
*.env

# Jupyter
.ipynb_checkpoints/

# NLTK data
nltk_data/

# Gensim downloaded embeddings
gensim-data/

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml
